node_modules
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
app/.env
backend/.env
backend/.env.local
*/bin
*/obj
README.md
LICENSE
.vscode
__pycache__
venv/
db.sqlite3

*.pyc
*.pyo
*.pyd
.Python
.env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
coverage.xml
*,cover
*.log
.git
